body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login_area{
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: rgb(56, 112, 109);
}

#login_area > p{
    height:10px;
}